# Node modules for project dependencies
node_modules/

# Yarn Plug'n'Play files (if using Yarn)
.pnp/
.pnp.js

# Coverage files from testing
coverage/

# Production build directory
build/

# Miscellaneous system files
.DS_Store
Thumbs.db

# Environment files for various environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs from npm and Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Temporary files and directories
tmp/
temp/

# MacOS system files
.AppleDouble
.LSOverride

# Windows system files
Desktop.ini
$RECYCLE.BIN/

# Parcel-bundler cache files
.cache/

# TypeScript build files
*.tsbuildinfo

# Storybook build output
storybook-static/

# ESLint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Testing snapshots
__snapshots__/

# Prettier log
.prettierlog
