# Ignore SQLite database files
*.sqlite*

# PHPUnit cache files
/.phpunit.cache
.phpunit.result.cache

# Node modules (if any frontend assets are managed within the backend)
node_modules/

# Laravel public build directories (Vite or Mix)
public/build/
public/hot/

# Laravel storage
public/storage/
storage/*.key
storage/pail/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/.gitignore # Allow the base .gitignore file in storage

# Vendor directory for PHP dependencies
vendor/

# Environment files
.env
.env.local
.env.backup
.env.production
.env.testing

# Config files and logs (optional, for various development tools)
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE/editor-specific files
.fleet/
.idea/
.vscode/
.zed/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files and compiled assets
/public/css/*.css
/public/js/*.js
/public/mix-manifest.json
/public/assets/
bootstrap/cache/*
!bootstrap/cache/.gitignore # Allow the base .gitignore file in bootstrap/cache

# Composer and Laravel SAIL (optional)
composer.lock.backup
docker-compose.override.yml

# Miscellaneous
*.log
*.swp
*.bak
*.tmp
*.seed
